*{
    background-color: black;
    color: #87ceeb;
}


h1{
    font-family: monospace;
    font-size: 100;
}

.navBar {
    position: sticky;
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;;
}

li{
    float: left;
}
/*
*/

li a{
    display: block;
    color: #aaabee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.homeBody {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.75fr 0.15fr;
    column-gap: 5px;
    padding-top: 25px;
}
img { /*somehow make this just the headshot idk*/
    width: 365px;
    height: 550px;
}
.homeBodyText {
    font-size: 22px;
}